.marginstuff {
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.651);
    border-radius: 0.5em;
    display: block;
    max-width: 100%;
    padding: 10px;
}

h1 {
    font-family: 'Overlock SC', cursive;
    color: rgb(111, 142, 62);
}


body {
    background: url('/img/kuva2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.kuva1 {
    padding-top: 30px;
    padding-bottom: 40px;
}

#kiitoskuva{
    padding:0px;
    width: 100%;
}