#asd {
    width: 100%;
    margin-bottom: 2em;
    margin-top: 2em;
}

#reuna {
    border-color: lightgreen;
}

#tuote {
    background-color: rgba(255, 255, 255, 0.651);
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-color: lightgreen;
}
#kori {
    border-style: outset;
}
.ryhma {
    color: black;
    background-color: rgba(255, 255, 255, 0.651);
    border-radius: 20px;
}
.kukkakuva {
    width: 100%;
    border-radius: 5px;
}
.kukka {
    margin-bottom: 10em;
}

.kukkakuva:hover {
    filter: grayscale(80%);
    transform: scale(1.1);
}
