.loginlabel {
    color: white;
}

#login {
    margin-top: 40px;
    margin-bottom: 80px;
    padding-top: 20px;
    padding-bottom: 40px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.651);
    border-radius: 0.5em;
}

#rekisteroidy {
    margin-top: 40px;
    margin-bottom: 80px;
    padding-right: 80px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.651);
    border-radius: 0.5em;
}

#rekisteritietoa {
    margin-top: 40px;
    margin-bottom: 450px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.651);
    border-radius: 0.5em;
}
@media only screen and (min-width: 800px) {
    #rekisteroidy, #rekisteritietoa {
      margin-left: 50px;
      
    }
  }

  @media only screen and (min-width: 800px) {
    #login {
      margin-left: 70px;
      
    }
  }