.kori{
    margin-left:auto;
    margin-right:auto;
}
tr > th{
    min-width: 5em;
}

th, td {
    padding: 0.5em;
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding-bottom: 5px;
    padding-right: 25px;
}

.ostoskori {
    color: rgb(49, 49, 49)!important;
    font-family: 'Overlock SC', cursive;
}

.tyhjenna{
    text-align:right;
}

.musta{
    color:black;
    margin-right: 5px;
}

.kpl{
    float: right;
}

.bold{
    font-weight: bold;
}

.tilausformi {
    padding-bottom: 100px;
    margin: auto;
}