html {
    position: relative;
    min-height: 100%;
  }

body{
    margin-bottom: 100px;
}

#navbarsearch { width: 50%; }
#navbarlogo {
    max-width: 80%;
    
}

.navbar{
    background-color: rgb(242, 242, 242);   
}

.navbarlinkki{
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(131, 125, 125);
    border-width: 2px;
    background-color: white;
    float: right;
    text-align: right;
}

.navbarlinkki:hover{
    border-style: solid;
    border-radius: 20px;
    border-color: white;
    border-width: 2px;
    background-color:rgb(49, 49, 49);
    color:white;
}

.ylalinkki {
    text-align: center;
    color: rgb(109, 109, 109);
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-radius: 0px;
    border-color: rgba(109, 109, 109, 0.788);
    background-color: rgba(242, 242, 242);
}
.padding{
    padding: 0px;
}


.row{
    margin-right:0px!important;
    margin-left:0px!important;
}

.ylalinkki:hover{
    color: rgb(146, 181, 88);
    background-color: white;
    border-color: rgb(109, 109, 109);
}
.dropdownmenut {
    text-align: center;
    background-color:white;
    padding: 0px;
    border-color: rgb(204, 204, 204);
}
.dropdownlinkki{
    color:rgb(146, 181, 88);
    text-align: center;
}

.dropdownlinkki:hover{
    color:rgb(109, 109, 109);
    text-decoration: none;
}
.footer1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
    border-top: rgb(109, 109, 109);
    border-top-style: solid;
    border-top-width: 2px;
    border-bottom:rgb(204, 204, 204);
    border-left:(204, 204, 204);
    border-right:(204, 204, 204);
    background-color: rgb(242, 242, 242);
    color: rgb(146, 181, 88);
    position: absolute;
    bottom: 0;
    width: 100%;
}

p, a {
    font-family: 'Inter', sans-serif;
}

h4{
    font-family: 'Overlock SC', cursive;
}

.ostosluku{
    background-color:rgb(49, 49, 49);
    color:white; 
}

.kuvake{
    color: rgb(146, 181, 88) 
}

div > a{
    color:white;
}

.smnautto {
    size: 60%;
}


  @media only screen and (max-width: 600px) {
    #navbarlogo {
      max-width: 70%!important;
      
      
    }
  }

  @media only screen and (max-width: 600px) {
    span.nuoli {
      display: none;
      
    }
  }
  @media only screen and (max-width: 600px) {
    h4.smnautto {
        font-size: 4.5vw;
    }
  }