#kukkanen{
    
    height: auto;
    
    overflow: hidden;
    display: inline-block;
    
    border-radius: 0.5em;
    opacity: 0.8;
    
}

#tietoateksti{
    
    margin: auto;
    padding-right: 40px;
    padding-left: 50px;
    padding-top: 20px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.651);
    border-radius: 0.5em;
}

h3, h5{
    font-family: 'Overlock SC', cursive;
    color: rgb(111, 142, 62);
}
@media only screen and (max-width: 1200px) {
    #kukkanen {
      max-width: 100%;
      margin-top: 3em;
    }
  }

  @media only screen and (min-width: 1200px) {
    #kukkanen {
      max-width: 60%;
      
    }
  }