h3{
    font-family: 'Overlock SC', cursive;
    color: rgb(111, 142, 62);
}

h5 {
    font-family: 'Overlock SC', cursive;
    color: rgb(111, 142, 62);
}


.tiedot{
    margin: auto;
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    .tiedot{
        margin-bottom: 500px!important;
    }
  }